vox-populi/PMQuestions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- XML Schema Generated from XML Document on Fri Oct 31 2014 20:54:33 GMT+0000 (GMT Standard Time) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="PMQuestions_Table">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="question" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="text" type="xs:string"></xs:element>
              <xs:element name="responses">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="response" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="text" type="xs:string"></xs:element>
                          <xs:element name="fl" type="xs:decimal"></xs:element>
                          <xs:element name="l" type="xs:decimal"></xs:element>
                          <xs:element name="c" type="xs:decimal"></xs:element>
                          <xs:element name="r" type="xs:decimal"></xs:element>
                          <xs:element name="fr" type="xs:decimal"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
